
<div class="uk-position-center uk-overlay uk-overlay-default">
    <div class="uk-width-large uk-margin"><div class="uk-card uk-card-small uk-card-default uk-card-body">
      <form class="row g-3" #f="ngForm"  (ngSubmit) = "ajouter(f)">
  
      <div class="row g-3">
            <div class="col">Nom
              <input type="text" class="form-control" placeholder="First name" name="nom" required ngModel aria-label="First name">
            </div>
            <div class="col"> Prénom
              <input type="text" class="form-control" placeholder="Last name" name ="prenom" required ngModel  aria-label="Last name">
            </div>
          </div>
          <div class="col-md-6"> Date de naissance
            <input type="date" class="form-control" ngModel required name="date_n" aria-label="Last name">
          </div>&nbsp;
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" class="form-control" ngModel required name="email" placeholder="etap@etap.tn" id="inputEmail4" >
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">CIN</label>
          <input type="text" class="form-control" ngModel required name="CIN" placeholder="12345678" minlength="8" maxlength="8"  id="inputPassword4">
        </div>&nbsp;
        <div class="col-md-6">
          <label for="inputState" class="form-label">Type salarie</label>
            <select id="inputState" class="form-select" ngModel required name="type">
            <option selected>Simple salrie</option>
            <option>Responsable</option>
          </select>
        </div>
       
        
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Ajouter </button>
          &nbsp;&nbsp;
          <button type="reset" class="btn btn-primary">Annuler </button>
    
        </div>
    
      </form></div></div>
   
</div>

