

<div class="uk-position-center uk-overlay uk-overlay-default"  style="width: 40%;">
<div>
    <div >
        <p class="uk-h4">
            <div class="uk-animation-toggle" tabindex="0">
                <div class="uk-card uk-card-default uk-card-body uk-animation-scale-up uk-transform-origin-top-center">
                    <p class="uk-text-center">
                        <form >
                            
                            <h1 class="uk-heading-divider">Connexion</h1><br>
                           <div class="uk-margin">
                                <div class="uk-inline">
                                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                                    <input class="uk-input" type="text" placeholder="Entrez une adresse email">
                                </div>
                            </div>
                        
                            <div class="uk-margin">
                                <div class="uk-inline">
                                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                                    <input class="uk-input" type="password" placeholder="********">
                                </div>
                            </div>
                    
                        <button type="submit" class="btn btn-success" style=" width:250px;"> Connexion</button>
                    </form>
                    </div>
                </div>
            </div>
    </div>
</div>